@charset "UTF-8";

@font-face {
    font-family: young-serif;
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: Outfit;
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

:root {
    --clr-nutmeg: hsl(14, 45%, 36%);
    --clr-darkRaspberry: hsl(332, 51%, 32%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-roseWhite: hsl(330, 100%, 98%);
    --clr-eggShell: hsl(30, 54%, 90%);
    --clr-lightGrey: hsl(30, 18%, 87%);
    --clr-wengeBrown: hsl(30, 10%, 34%);
    --clr-darkCharcoal: hsl(24, 5%, 18%);

    --fs-par: 16px;

    --ff-par: Outfit;
    --ff-title: young-serif;

    --fw-regular: 400;
    --fw-mediumBold: 600;
    --fw-bold: 700;
}

body {
    background-color: var(--clr-eggShell);
    font-family: var(--ff-par);
    color: var(--clr-wengeBrown);
}

h1 {
    font-family: var(--ff-title);
    font-size: 1.6em;
    color: #000;
}

h2 {
    font-family: var(--ff-title);
    font-size: 1.3em;
    color: var(--clr-nutmeg);
}

p{
    line-height: 25px;
}

.prep h2 {
    color: var(--clr-darkRaspberry);
}

ul, ol {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul li span:nth-child(1) {
    font-weight: var(--fw-bold)
}

ol {
    list-style: decimal;
    margin-left: 20px;
    > li {
        font-weight: var(--fw-bold);
    }
}

ul li {
    line-height: 25px;
}

ul li::before {
    content: '•';
    margin-right: 15px;
}

ol li {
    color: var(--clr-nutmeg);
    font-weight: var(--fw-bold);
}

li span:nth-child(1) {
    color: var(--clr-wengeBrown);
}

li span:nth-child(2) {
    font-weight: var(--fw-regular);
    color: var(--clr-wengeBrown);
}

li p{
    margin-left: 20px;
}

.container {
    max-width: 100%;
    width: 700px;
    margin: 100px auto 100px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: var(--clr-white);
    padding: 30px;
    border-radius: 10px;
}

.container .thumbnail {
    border-radius: 10px;
}

.container article {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.container section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container .prep {
    background-color: var(--clr-roseWhite);
    padding: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container .nutrition .nutrition-table {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.nutrition-table .fila {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.nutrition-table .fila .nutrient {
    margin-left: 20px;
}

.nutrition-table .nutrient-amount {
    font-weight: var(--fw-bold);
    color: var(--clr-nutmeg);
}

.linea {
    height: 1px;
    background-color: var(--clr-lightGrey);
}

@media (max-width: 768px) {
    .container {
        margin: 0 auto;
        padding: 0;
        width: 100%;
        gap: 0;
        border-radius: 0;
    }

    .container .thumbnail {
        border-radius: 0;
    }

    .container article {
        padding: 30px;
    }
}